input[type="radio"] {
  border: 100px;
  box-sizing: border-box;
  margin-right: 5;
  display: inline-block;
}

:root {
  font-size: calc(12px + (10 - 10) * (10vw - 30px) / (1024 - 320));
}
label {
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
  transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

input:checked + label,
input:checked + label span,
.worm__segment:before {
  color: #5583f6;
}
